# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/

# Virtualenv
.venv/
venv/
env/

# Editor/OS
.vscode/
.idea/
.DS_Store

# Env files and secrets
.env
.env.local
.env.*.local
.env.*.bak

# Docker volumes / local DB data
postgres_data/
*.sqlite3

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

/frontend/node_modules/


/.env
/frontend/node_modules/
node_modules/

