# Core do FastAPI
fastapi[all]
uvicorn[standard]
pydantic[email]>=1.10.12,<2
python-dotenv

# Banco de Dados (PostgreSQL)
SQLAlchemy==2.0.25
psycopg2-binary
alembic

# Segurança e Autenticação
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Uploads / Form parsing / Imagens
python-multipart
pillow

# Utilidades
tenacity
httpx